
@font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Thin";
                          src: url('../fonts/SF-Pro-Text-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-LightItalic";
                          src: url('../fonts/SF-Pro-Text-LightItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-BoldItalic";
                          src: url('../fonts/SF-Pro-Text-BoldItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        
.bunch {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 22001px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bunch .whatisandroidover {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .whatisandroidover-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2143px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .whatisandroidover-layout-container > * {
  pointer-events      : auto;
}
.bunch .marketanalysis {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .marketanalysis-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2641px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .marketanalysis-layout-container > * {
  pointer-events      : auto;
}
.bunch .designprocess {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .designprocess-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 4381px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .designprocess-layout-container > * {
  pointer-events      : auto;
}
.bunch .initialdraft {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .initialdraft-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 6703px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .initialdraft-layout-container > * {
  pointer-events      : auto;
}
.bunch .seconddraft {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .seconddraft-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 8113px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .seconddraft-layout-container > * {
  pointer-events      : auto;
}
.bunch .thirddraft {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .thirddraft-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 9608px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .thirddraft-layout-container > * {
  pointer-events      : auto;
}
.bunch .usertesting {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .usertesting-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 10840px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .usertesting-layout-container > * {
  pointer-events      : auto;
}
.bunch .videolayoutandseq {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .videolayoutandseq-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 12434px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .videolayoutandseq-layout-container > * {
  pointer-events      : auto;
}
.bunch .androidoverlayisa {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .androidoverlayisa-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2213px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .androidoverlayisa-layout-container > * {
  pointer-events      : auto;
}
.bunch .discordisouroneo {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .discordisouroneo-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2711px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .discordisouroneo-layout-container > * {
  pointer-events      : auto;
}
.bunch .discordisouroneocopy {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .discordisouroneocopy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3407px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .discordisouroneocopy-layout-container > * {
  pointer-events      : auto;
}
.bunch .androidoverlaynot {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .androidoverlaynot-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 4451px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .androidoverlaynot-layout-container > * {
  pointer-events      : auto;
}
.bunch .option1onec {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .option1onec-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 5705px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .option1onec-layout-container > * {
  pointer-events      : auto;
}
.bunch .iputupseveraldra {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .iputupseveraldra-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 6773px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .iputupseveraldra-layout-container > * {
  pointer-events      : auto;
}
.bunch .inavideochatthe {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .inavideochatthe-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 8183px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .inavideochatthe-layout-container > * {
  pointer-events      : auto;
}
.bunch .switchtovideochat {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .switchtovideochat-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 9120px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .switchtovideochat-layout-container > * {
  pointer-events      : auto;
}
.bunch .thefeedbackfromth {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .thefeedbackfromth-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 9678px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .thefeedbackfromth-layout-container > * {
  pointer-events      : auto;
}
.bunch .amorecompletedcon {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .amorecompletedcon-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 10622px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .amorecompletedcon-layout-container > * {
  pointer-events      : auto;
}
.bunch .afteraninitialpro {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .afteraninitialpro-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 10910px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .afteraninitialpro-layout-container > * {
  pointer-events      : auto;
}
.bunch .oneofthebiggests {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .oneofthebiggests-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 12036px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .oneofthebiggests-layout-container > * {
  pointer-events      : auto;
}
.bunch .anotherbigthingwe {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .anotherbigthingwe-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 12504px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .anotherbigthingwe-layout-container > * {
  pointer-events      : auto;
}
.bunch .thevideolayoutin {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .thevideolayoutin-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 14032px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .thevideolayoutin-layout-container > * {
  pointer-events      : auto;
}
.bunch .thevideolayoutin1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .thevideolayoutin1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 14310px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .thevideolayoutin1-layout-container > * {
  pointer-events      : auto;
}
.bunch .beingthenumber1c {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .beingthenumber1c-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 17782px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .beingthenumber1c-layout-container > * {
  pointer-events      : auto;
}
.bunch .westudiedhowfaceb {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .westudiedhowfaceb-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 15488px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .westudiedhowfaceb-layout-container > * {
  pointer-events      : auto;
}
.bunch .requestusersatten {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .requestusersatten-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 16712px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .requestusersatten-layout-container > * {
  pointer-events      : auto;
}
.bunch .landscape {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .landscape-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 12962px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .landscape-layout-container > * {
  pointer-events      : auto;
}
.bunch .portrait {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .portrait-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 14250px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .portrait-layout-container > * {
  pointer-events      : auto;
}
.bunch .imessage {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .imessage-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 17722px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .imessage-layout-container > * {
  pointer-events      : auto;
}
.bunch .hangupandpermissi {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 30.0px;
}
.bunch .hangupandpermissi-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 15418px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .hangupandpermissi-layout-container > * {
  pointer-events      : auto;
}
.bunch .sharingassets {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 30.0px;
}
.bunch .sharingassets-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 17649px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .sharingassets-layout-container > * {
  pointer-events      : auto;
}
.bunch .discord {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .discord-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2869px;
  align-items         : center;
  height              : 470px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .discord-layout-container > * {
  pointer-events      : auto;
}
.bunch .messenger {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .messenger-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3565px;
  align-items         : center;
  height              : 748px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .messenger-layout-container > * {
  pointer-events      : auto;
}
.bunch .initial {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .initial-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 4909px;
  align-items         : center;
  height              : 728px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .initial-layout-container > * {
  pointer-events      : auto;
}
.bunch .draft1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .draft1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 7021px;
  align-items         : center;
  height              : 510px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .draft1-layout-container > * {
  pointer-events      : auto;
}
.bunch .draft2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .draft2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 7546px;
  align-items         : center;
  height              : 499px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .draft2-layout-container > * {
  pointer-events      : auto;
}
.bunch .a2nddraft {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .a2nddraft-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 8551px;
  align-items         : center;
  height              : 501px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .a2nddraft-layout-container > * {
  pointer-events      : auto;
}
.bunch .a3rddraft {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .a3rddraft-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 9806px;
  align-items         : center;
  height              : 748px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .a3rddraft-layout-container > * {
  pointer-events      : auto;
}
.bunch .usertesting2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .usertesting2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 11398px;
  align-items         : center;
  height              : 570px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .usertesting2-layout-container > * {
  pointer-events      : auto;
}
.bunch .landscape1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .landscape1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 13022px;
  align-items         : center;
  height              : 680px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .landscape1-layout-container > * {
  pointer-events      : auto;
}
.bunch .landscape2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .landscape2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 13732px;
  align-items         : center;
  height              : 232px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .landscape2-layout-container > * {
  pointer-events      : auto;
}
.bunch .portrait1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .portrait1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 14528px;
  align-items         : center;
  height              : 267px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .portrait1-layout-container > * {
  pointer-events      : auto;
}
.bunch .portrait2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .portrait2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 14825px;
  align-items         : center;
  height              : 267px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .portrait2-layout-container > * {
  pointer-events      : auto;
}
.bunch .portrait3 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .portrait3-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 15122px;
  align-items         : center;
  height              : 237px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .portrait3-layout-container > * {
  pointer-events      : auto;
}
.bunch .permission {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 276px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .permission-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 16066px;
  align-items         : center;
  height              : 578px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .permission-layout-container > * {
  pointer-events      : auto;
}
.bunch .permission2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .permission2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 17050px;
  align-items         : center;
  height              : 531px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .permission2-layout-container > * {
  pointer-events      : auto;
}
.bunch .specialarmajet {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .specialarmajet-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 19122px;
  align-items         : center;
  height              : 561px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .specialarmajet-layout-container > * {
  pointer-events      : auto;
}
.bunch .specialbrawlstars {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .specialbrawlstars-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 17940px;
  align-items         : center;
  height              : 561px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .specialbrawlstars-layout-container > * {
  pointer-events      : auto;
}
.bunch .specialroblox {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .specialroblox-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 18531px;
  align-items         : center;
  height              : 561px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .specialroblox-layout-container > * {
  pointer-events      : auto;
}
.bunch .asset {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .asset-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 19713px;
  align-items         : center;
  height              : 888px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .asset-layout-container > * {
  pointer-events      : auto;
}
.bunch .asset2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .asset2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 20631px;
  align-items         : center;
  height              : 1040px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .asset2-layout-container > * {
  pointer-events      : auto;
}
.bunch .bunchappenablesus {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .bunchappenablesus-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1269px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .bunchappenablesus-layout-container > * {
  pointer-events      : auto;
}
.bunch .readourmediacover {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-LightItalic", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.bunch .readourmediacover-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2044px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .readourmediacover-layout-container > * {
  pointer-events      : auto;
}
.bunch .readourmediacover .span1 {
  
}
.bunch .readourmediacover .span2 {
  font-family         : "SFProText-BoldItalic", Helvetica, Arial, serif;
  color               : rgba(107, 70, 254, 1.0);
}
.bunch .whatisbunch {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.bunch .whatisbunch-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1199px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .whatisbunch-layout-container > * {
  pointer-events      : auto;
}
.bunch .bunchplayyourfav {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 1042px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.bunch .bunchplayyourfav-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 198px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .bunchplayyourfav-layout-container > * {
  pointer-events      : auto;
}
.bunch .dribbble {
  background-color    : rgba(255,255,255,0.0);
  right               : 302px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.bunch .linkedin {
  background-color    : rgba(255,255,255,0.0);
  right               : 180px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.bunch .resume {
  background-color    : rgba(255,255,255,0.0);
  right               : 425px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.bunch .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.bunch .bunchbg {
  background-color    : rgba(107, 70, 254, 1.0);
  top                 : 382px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1 {
  background-color    : rgba(255,255,255,0.0);
  margin-left         : 1px;
  height              : 100%;
  width               : 1162px;
  margin-right        : -1px;
  position            : relative;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 382px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .bunch1-layout-container > * {
  pointer-events      : auto;
}
.bunch .bunch1 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1 .bunchimage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1 .googleplaylogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 619px;
  height              : 48px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 935px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1 .googleplaylogo .googleplaylogo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1 .appstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 596px;
  height              : 96px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 754px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bunch1 .bunch2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 369px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 962px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.bunch .bunch1 .videochattingwith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 430px;
  height              : auto;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 838px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : right;
  letter-spacing      : 0.7px;
  line-height         : 38.0px;
}
.bunch .bitmap {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bunch .bitmap-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1458px;
  align-items         : center;
  height              : 556px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bunch .bitmap-layout-container > * {
  pointer-events      : auto;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}