
@font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Thin";
                          src: url('../fonts/SF-Pro-Text-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-LightItalic";
                          src: url('../fonts/SF-Pro-Text-LightItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-BoldItalic";
                          src: url('../fonts/SF-Pro-Text-BoldItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        
.index {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 6115px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.index .greyscapebg {
  background-color    : rgba(250, 250, 250, 1.0);
  top                 : 5315px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .greyscape {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .greyscape-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 5315px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .greyscape-layout-container > * {
  pointer-events      : auto;
}
.index .greyscape .greyscapebg1 {
  background-color    : rgba(250, 250, 250, 1.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .greyscape .u53e6u8bf7u9ad8u660ecase {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : 456px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .greyscape .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : 452px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .greyscape .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 391px;
  height              : 41px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 842px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .greyscape .productdesignecom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 437px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(62, 62, 62, 0.4);
  text-align          : right;
  letter-spacing      : 0.88px;
  line-height         : 41.0px;
}
.index .buttonbg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4574px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .buttonstudy {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .buttonstudy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 4574px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .buttonstudy-layout-container > * {
  pointer-events      : auto;
}
.index .buttonstudy .buttonsbg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .buttonstudy .but2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 184px;
  height              : 272px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 631px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .buttonstudy .but2 .but21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 272px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .buttonstudy .but1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 272px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .buttonstudy .onhowalikebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 560px;
  height              : auto;
  width               : 574px;
  position            : absolute;
  margin              : 0;
  left                : 527px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(62, 62, 62, 0.4);
  text-align          : right;
  letter-spacing      : 0.88px;
  line-height         : 41.0px;
}
.index .buttonstudy .abuttonstudy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 501px;
  height              : auto;
  width               : 406px;
  position            : absolute;
  margin              : 0;
  left                : 695px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .martianbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3833px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .martian {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .martian-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3833px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .martian-layout-container > * {
  pointer-events      : auto;
}
.index .martian .martian1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .martian .thecountersurveill {
  background-color    : rgba(255,255,255,0.0);
  top                 : 484px;
  height              : auto;
  width               : 426px;
  position            : absolute;
  margin              : 0;
  left                : 686px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : right;
  letter-spacing      : 0.88px;
  line-height         : 41.0px;
}
.index .martian .martiankeyboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 425px;
  height              : auto;
  width               : 495px;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .martian .appstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 581px;
  height              : 96px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 946px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .popbg {
  background-color    : rgba(255, 212, 225, 1.0);
  top                 : 3094px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .pop {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .pop-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3094px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .pop-layout-container > * {
  pointer-events      : auto;
}
.index .pop .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .pop .frame12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .pop .pop1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1017px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 100, 147, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .pop .downloadcuratedcre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 482px;
  height              : auto;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 150, 182, 1.0);
  text-align          : right;
  letter-spacing      : 0.8px;
  line-height         : 35.0px;
}
.index .pop .appstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : 96px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 935px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boombg {
  background-color    : rgba(18, 222, 161, 1.0);
  top                 : 2353px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boombgcopy {
  background-color    : rgba(74, 196, 163, 1.0);
  top                 : 1612px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boom {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boom-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2353px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .boom-layout-container > * {
  pointer-events      : auto;
}
.index .boom .boom2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boom .textenryptioncann {
  background-color    : rgba(255,255,255,0.0);
  top                 : 524px;
  height              : auto;
  width               : 426px;
  position            : absolute;
  margin              : 0;
  left                : 686px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 0.8px;
  line-height         : 41.0px;
}
.index .boom .textenryptioncann .span1 {
  
}
.index .boom .textenryptioncann .span2 {
  font-family         : "SFProDisplay-Semibold", Helvetica, Arial, serif;
}
.index .boom .boom1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 465px;
  height              : auto;
  width               : 495px;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .boom .appstorecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 606px;
  height              : 96px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 946px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boomcopy {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boomcopy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1612px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .boomcopy-layout-container > * {
  pointer-events      : auto;
}
.index .boomcopy .spnporfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .boomcopy .unlimitedtextingan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 524px;
  height              : auto;
  width               : 426px;
  position            : absolute;
  margin              : 0;
  left                : 686px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 0.8px;
  line-height         : 41.0px;
}
.index .boomcopy .secondphonenumber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 465px;
  height              : auto;
  width               : 495px;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .boomcopy .appstorecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 606px;
  height              : 96px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 946px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunchbg {
  background-color    : rgba(107, 70, 254, 1.0);
  top                 : 871px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 871px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .bunch-layout-container > * {
  pointer-events      : auto;
}
.index .bunch .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch .bunchimage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch .googleplaylogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 619px;
  height              : 48px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 935px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch .googleplaylogo .googleplaylogo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch .appstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 596px;
  height              : 96px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 754px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .bunch .bunch1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 369px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 962px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .bunch .videochattingwith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 430px;
  height              : auto;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 838px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : right;
  letter-spacing      : 0.7px;
  line-height         : 38.0px;
}
.index .click {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .click-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 871px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .click-layout-container > * {
  pointer-events      : auto;
}
.index .aproductdesignera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 410px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 232px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(142, 142, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.88px;
  line-height         : 35.0px;
}
.index .iu2019mhuiyu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 232px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.index .img1518 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : 95px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 232px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.index .dribbble {
  background-color    : rgba(255,255,255,0.0);
  right               : 302px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.index .linkedin {
  background-color    : rgba(255,255,255,0.0);
  right               : 180px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.index .resume {
  background-color    : rgba(255,255,255,0.0);
  right               : 425px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}