
@font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Thin";
                          src: url('../fonts/SF-Pro-Text-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-LightItalic";
                          src: url('../fonts/SF-Pro-Text-LightItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-BoldItalic";
                          src: url('../fonts/SF-Pro-Text-BoldItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        
.martian {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 3435px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.martian .martianelementsbg {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 2787px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martianelements {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martianelements-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2787px;
  align-items         : center;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.martian .martianelements-layout-container > * {
  pointer-events      : auto;
}
.martian .chinesebg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2139px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .chinese {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2139px;
  height              : 648px;
  width               : 997px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martianbg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1491px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martian2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martian2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1491px;
  align-items         : center;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.martian .martian2-layout-container > * {
  pointer-events      : auto;
}
.martian .martiankeyboardis {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.martian .martiankeyboardis-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1191px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.martian .martiankeyboardis-layout-container > * {
  pointer-events      : auto;
}
.martian .martiankeyboardis .span1 {
  
}
.martian .martiankeyboardis .span2 {
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  color               : rgba(245, 58, 2, 1.0);
}
.martian .martiankeyboardis .span3 {
  
}
.martian .martiankeyboardth {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 1042px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.martian .martiankeyboardth-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 198px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.martian .martiankeyboardth-layout-container > * {
  pointer-events      : auto;
}
.martian .dribbble {
  background-color    : rgba(255,255,255,0.0);
  right               : 302px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.martian .linkedin {
  background-color    : rgba(255,255,255,0.0);
  right               : 180px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.martian .resume {
  background-color    : rgba(255,255,255,0.0);
  right               : 425px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.martian .martiantitlebg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 382px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martiantitlebg .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martiantitlebg .marsillu {
  background-color    : rgba(255,255,255,0.0);
  top                 : -110px;
  height              : 1280px;
  width               : 1377px;
  position            : absolute;
  margin              : 0;
  left                : 295px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martian1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .martian1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 490px;
  align-items         : center;
  height              : 572px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.martian .martian1-layout-container > * {
  pointer-events      : auto;
}
.martian .martian1 .u706bu661fu6587u952eu76d8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 465px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 50.0px;
  color               : rgba(255, 58, 0, 1.0);
  text-align          : left;
  line-height         : 70.0px;
}
.martian .martian1 .martiankeyboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 527px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Semibold", Helvetica, Arial, serif;
  font-size           : 38.0px;
  color               : rgba(255, 58, 0, 1.0);
  text-align          : left;
  line-height         : 45.0px;
}
.martian .martian1 .themartiankeyboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 473px;
  height              : auto;
  width               : 526px;
  position            : absolute;
  margin              : 0;
  left                : 331px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Medium", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 58, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 18.0px;
}
.martian .martian1 .martianwebsite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 560px;
  width               : 1100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.martian .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}