
@font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Thin";
                          src: url('../fonts/SF-Pro-Text-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-LightItalic";
                          src: url('../fonts/SF-Pro-Text-LightItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-BoldItalic";
                          src: url('../fonts/SF-Pro-Text-BoldItalic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        
.pop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 6508px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.pop .mockupsbg {
  background-color    : rgba(246, 246, 246, 1.0);
  top                 : 5725px;
  height              : 783px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .mockups {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .mockups-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 5725px;
  align-items         : center;
  height              : 783px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .mockups-layout-container > * {
  pointer-events      : auto;
}
.pop .sketchbg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 3111px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .sketch {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .sketch-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3111px;
  align-items         : center;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .sketch-layout-container > * {
  pointer-events      : auto;
}
.pop .elementsbg {
  background-color    : rgba(246, 246, 246, 1.0);
  top                 : 5077px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .elements {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .elements-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 5077px;
  align-items         : center;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .elements-layout-container > * {
  pointer-events      : auto;
}
.pop .screensbg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4429px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .screens {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .screens-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 4429px;
  align-items         : center;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .screens-layout-container > * {
  pointer-events      : auto;
}
.pop .lockscreensandwal {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.pop .lockscreensandwal-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2449px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .lockscreensandwal-layout-container > * {
  pointer-events      : auto;
}
.pop .xcodeistheprimary {
  background-color    : rgba(255,255,255,0.0);
  margin-left         : 1px;
  height              : auto;
  width               : 802px;
  margin-right        : -1px;
  position            : relative;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.pop .xcodeistheprimary-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3859px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .xcodeistheprimary-layout-container > * {
  pointer-events      : auto;
}
.pop .howdididesign {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.pop .howdididesign-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2379px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .howdididesign-layout-container > * {
  pointer-events      : auto;
}
.pop .howdowedevelopan {
  background-color    : rgba(255,255,255,0.0);
  margin-left         : 1px;
  height              : auto;
  width               : 802px;
  margin-right        : -1px;
  position            : relative;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.pop .howdowedevelopan-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 3789px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .howdowedevelopan-layout-container > * {
  pointer-events      : auto;
}
.pop .evobg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1701px;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .evolution {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 997px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .evolution-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1701px;
  align-items         : center;
  height              : 648px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .evolution-layout-container > * {
  pointer-events      : auto;
}
.pop .popisahighqualit {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 802px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Light", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 30.0px;
}
.pop .popisahighqualit-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1191px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .popisahighqualit-layout-container > * {
  pointer-events      : auto;
}
.pop .popisahighqualit .span1 {
  
}
.pop .popisahighqualit .span2 {
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  color               : rgba(255, 100, 147, 1.0);
}
.pop .popisahighqualit .span3 {
  
}
.pop .popbg {
  background-color    : rgba(255, 212, 225, 1.0);
  top                 : 382px;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .pop1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 1162px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .pop1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 382px;
  align-items         : center;
  height              : 741px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .pop1-layout-container > * {
  pointer-events      : auto;
}
.pop .pop1 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .pop1 .frame12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 741px;
  width               : 1162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.pop .pop1 .pop2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1017px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 100, 147, 1.0);
  text-align          : right;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.pop .pop1 .downloadcuratedcre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 482px;
  height              : auto;
  width               : 363px;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(255, 150, 182, 1.0);
  text-align          : right;
  letter-spacing      : 0.8px;
  line-height         : 35.0px;
}
.pop .pop1 .appstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : 96px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 935px;
  transform           : rotate(0deg);
  opacity             : 0.3;
}
.pop .popananimatedwal {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : 1042px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(62, 62, 62, 1.0);
  text-align          : left;
  letter-spacing      : 1.13px;
  line-height         : 54.0px;
}
.pop .popananimatedwal-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 198px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.pop .popananimatedwal-layout-container > * {
  pointer-events      : auto;
}
.pop .dribbble {
  background-color    : rgba(255,255,255,0.0);
  right               : 302px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.pop .linkedin {
  background-color    : rgba(255,255,255,0.0);
  right               : 180px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.pop .resume {
  background-color    : rgba(255,255,255,0.0);
  right               : 425px;
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
.pop .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "SFProText-Thin", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 3.0px;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}